langchain
langgraph
langchain-community
langchain-pinecone==0.2.13
langchain-text-splitters
langchain-huggingface
langchain-ollama
sentence-transformers
pinecone
pypdf
python-dotenv
streamlit
fastapi
uvicorn